<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="man">
    <div class="cont">
        <table>
            <tr>
                <th>id</th>
                <th>Memers name</th>
                
            </tr>
            <tr>
                <td>dnvdsj</td>
                <td>dsjcd </td>  
            </tr>
            
        </table>
    </div>
</div>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="man">
    <div class="cont">
        <table>
            <tr>
                <th>id</th>
                <th>Username</th>
                <th>Feedback</th>
                
            </tr>
            <tr>
                <td>dnvdsj</td>
                <td>dnvdsj</td>
                <td>dsjcd </td>  
            </tr>
            
        </table>
    </div>
</div>
</body>
</html>