<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="man">
        <div class="cont">
            <form>
                <textarea name="" id="" class="input" placeholder="Give notification for the user nand club"></textarea>
                <button type="submit" >send</button>
            </form>
        </div>
    </div>
</body>
</html>