<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="man">
    <div class="cont">
        <table>
            
            {% for i in U %}
            <tr>
                <td>{{u.name}}</td>
                <td>{{u.Email}}</td>
                <td>{{u.Phone}}</td>
                <td>{{u.Address}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.age}}</td>>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>