<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="man">
    <div class="cont">
        <table>
            <tr>
                <th>Name of the event</th>
                <th>Event Type</th>
                
            </tr>
            <tr>
                <td>chess</td>
                <td>solo</td>
                
            </tr>
            <tr>
                <td>football</td>
                <td>group</td>
                
            </tr>
        </table>
    </div>
</div>
</body>
</html>