<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="clubtable.css">
</head>
<body>
    <table border="1">
        <tr>
            <th>ADD INSTRUCTIONS FOR TEAM</th>
            <th>ADD INSTRUCTIONS FOR PARTICIPANTS</th>
            <th>ADD INSTRUCTIONS FOR COACH</th>
            <th></th>

        </tr>
        
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td> <input type="submit"name="submit" value="UPDATE"></td>
</tr>        
        </form>
        </table>
</body>
</html>